<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>FDAndrade - Gerenciador de Pagamentos</title>
</head>

<body>
    <div class="container">
        <div class="mt-2">
            {{> _msg}}
        </div>

        {{{body}}}
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".alert").fadeOut(5000);
        });
    </script>
</body>

</html>