<div>
    <h1>Cadastro de Pagamento</h1>
</div>
<div class="text-right">
    <a class="btn btn-sm btn-warning" href="/list-pagamentos/">Voltar</a>
</div>

<div>
    <form action="/add-pagamento" method="post">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" name="nome"><br><br>

        <label for="valor" class="form-label">Valor</label>
        <input type="text" class="form-control" name="valor"><br><br>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>


    </form>
</div>